<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.budgettracking.pennywise" >

    <!-- <uses-permission android:name="android.permission.INTERNET" /> -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <!-- <uses-permission android:name="android.permission.USE_CREDENTIALS" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name="com.budgettracking.pennywise.PennywiseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name="com.budgettracking.pennywise.ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" >
        </activity>
        <activity
            android:name="com.budgettracking.pennywise.ui.login.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.budgettracking.pennywise.ui.settings.SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.budgettracking.pennywise.ui.expenses.ExpenseDetailActivity"
            android:label="@string/title_activity_expense_detail" >
        </activity>
        <activity android:name="com.budgettracking.pennywise.ui.reminders.NewReminderActivity" >
        </activity>

        <receiver android:name="com.budgettracking.pennywise.receivers.AlarmReceiver" >
        </receiver>
        <receiver
            android:name="com.budgettracking.pennywise.receivers.AlarmsSystemBooted"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.budgettracking.pennywise.widget.ExpensesWidgetProvider"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.pedrocarrillo.expensetracker.widget.ExpensesWidgetService.UPDATE_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <service
            android:name="com.budgettracking.pennywise.widget.ExpensesWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.budgettracking.pennywise.ui.help.HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
